*{
    padding: 0;
    margin: 0; 
}
html{
    scroll-behavior: smooth;
}
header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 30px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 10000;
}
header .logo
{
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header .toggle
{
    position: relative;
    width: 30px;
    height: 30px;
   /* background: url('./img/general/menu.png');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}
.slider
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #000;
}
.slider .imgBx
{
    width: 98.7vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 1;
    clip-path: circle(0px at center);
}

.slider input[type="radio"]:checked + .imgBx
{
    z-index: 10;
    clip-path: circle(1000px at center);
    transition-delay: 0.7s;
    
}
.slider .imgBx img
{
position: absolute;
top: 0;
left: 0;
height: 100%;
object-fit: cover;
width: 100%
}
.slider .imgBx .content{
   position: relative;
   text-align: center;
   max-width: 800px; 
}
.slider .imgBx .content h2
{
    font-size: 6em;
    line-height: 1em;
    color: #fff;
}
.slider .imgBx .content p{
    font-size: 1.1em;
    color: #fff;
}
.slider .imgBx .content a{
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 10px 30px;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.slider input[type="radio"]
{
    position: relative;
    z-index: 1000;
    margin: 15px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
}
.principal 
{
    background-color: rgb(255, 255, 238);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 400px 250px;
}
.section-primary{
    /*background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);*/
    text-align: center;
}
.section-secondary{
   /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
    text-align: center;
}
.third-secondary{
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);*/
}
.fourd-secondary{
    /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
}
footer{
    background-color: rgb(255, 255, 221);
    text-align: center;
}
input{
    width: 10vw;
}

@media (max-width:768px){
    header{
        padding: 20px 40px;
        width: 100vw;
    }
    .slider{
        width: 100%;
    }
    .slider .imgBx
{
    
    padding: 40px;
    height: 100vh;
    width: 100%;
}
.slider .imgBx .content 
{
    transform: translateX(2.5%);
}
.slider .imgBx .content h2
{
    font-size: 3em;
    color: #fff;
    margin-top: 10px;
}
button{
    align-items: center;
    min-width: 27vw;
    padding-left: 100px;
}
input{
    min-width: 26vw;
}
footer{
    margin-top: 140px;
}
}
